<!doctype html>
<html lang="en">

<style type="text/css">

form  {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 50%;
    margin-left: 50%;
}
div.title {
  margin-top: 30px


</style>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Login</title>
  </head>
  <body>
     <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">HDM</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="login.html">Log Out</a>
      </li>

    </ul>

  </div>
</nav>

    <div class="title">

  <center><h2>New Patient Registration</h2></center> <br>
</div>
<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Name</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

  </div>
    <div class="form-group">
    <label for="exampleInputEmail1">Aadhar No</label>
    <input type="email" class="form-control" id="aadharno" aria-describedby="emailHelp">

  </div>
    <div class="form-group">
    <label for="exampleInputEmail1">Info</label>
    <input type="email" class="form-control" id="info" aria-describedby="emailHelp">

  </div>
    <div class="form-group">
    <label for="exampleInputEmail1">Contact No.</label>
    <input type="email" class="form-control" id="contactno" aria-describedby="emailHelp">

  </div>
    <div class="form-group">
    <label for="exampleInputEmail1">Date Admitted</label>
    <input type="email" class="form-control" id="dateadmitted" aria-describedby="emailHelp">

  </div>
    <div class="form-group">
    <label for="exampleInputEmail1">Age</label>
    <input type="email" class="form-control" id="age" aria-describedby="emailHelp">

  </div>
    <div class="form-group">
    <label for="exampleInputEmail1">Gender</label>
    <input type="email" class="form-control" id="gender" aria-describedby="emailHelp">

  </div>
    <div class="form-group">
    <label for="exampleInputEmail1">Address</label>
    <input type="email" class="form-control" id="address" aria-describedby="emailHelp">

  </div>
    <div class="form-group">
    <label for="exampleInputEmail1">Room No.</label>
    <input type="email" class="form-control" id="roomno" aria-describedby="emailHelp">

  </div>


  <button type="submit" class="btn btn-primary">Add Patient</button>
</form>
  </body>
</html>
